.basket {
    padding: 15px 0;

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
        gap: 50px;

        @media (max-width: 576px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }

    &__empty {
        display: grid;
        place-items: center;

        &-image {
            max-width: 300px;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 30%;
            border-radius: 50%;
            background: #fff;
        }

        &-title {
            font-size: clamp(25px, 3vw, 35px);
            margin-bottom: 8px;
            text-align: center;
        }

        &-txt {
            font-size: 20px;
            margin-bottom: 15px;
            text-align: center;
            font-size: clamp(18px, 3vw, 20px);
        }

        &-toMain {
            max-width: 100px;
            width: 100%;
            text-align: center;
            background: #286783;
            color: #fff;
            padding: 10px;
            border-radius: 10px;
        }
    }

    &__totalPrice {
        background: #286783 !important;
        color: #fff;
        padding: 12px;
        border-radius: 13px;
        max-width: 200px;
        width: 100%;
        text-align: center;
        font-size: clamp(15px, 3vw, 20px);
        margin-left: auto;
        font-weight: 700;
        cursor: pointer;
        transition: 0.4s;
        margin-top: 30px ;

        &:hover {
            box-shadow: 0 0 5px #000;
        }

        &.active {
            box-shadow: 0 0 5px #fff;
        }
    }
}
