.category {
    padding: 30px 0 0 0;

    &__texts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        @media (max-width: 412px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            gap: 15px;
        }
    }

    &__text {
        transform-origin: center -20px;
        float: left;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        border: 5px solid #f8f8f8;
        display: grid;
        place-items: center;
        color: #000;
        font-size: clamp(13px, 3vw, 15px);
        text-wrap: wrap;
        cursor: pointer;
        width: 150px;
        height: 150px;
        text-wrap: nowrap;
        font-weight: 600;
        border-radius: 12px;
        text-transform: capitalize;
        transition: 0.4s;

        @media (max-width: 412px) {
            width: 130px;
            height: 130px;
        }

        &.active {
            border: none;
            box-shadow: 0 0 5px #fff;
            color: #fff;
        }

        &:hover {
            animation: swing ease-in-out 1s infinite alternate;
        }

        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid #999;
            top: -10px;
            left: 48%;
            z-index: 0;
            border-bottom: none;
            border-right: none;
            transform: rotate(45deg);
        } 

        &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            top: -14px;
            left: 54%;
            z-index: 5;
            border-radius: 50% 50%;
            background: #000;
        }
    }
}

html.dark .category__text {

    &::before {
        background: #fff;
    }

    &::after {
        border: 1px solid #fff;
        border-bottom: none;
        border-right: none;
    }
}

@keyframes swing {
    0%{
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}