.liked {

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 255px));
        place-items: center;
        gap: 30px;
        padding: 15px 0;
    }

    &__title {
        border-bottom: 1px solid #000;
        padding: 10px 0;

        &.active {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }

    &__empty {
        display: grid;
        place-items: center;
        gap: 10px;

        &-image {
            max-width: 225px;
            width: 100%;
            border-radius: 50%;
        }

        &-title {
            font-size: clamp(20px, 3vw, 30px);
        }

        &-txt {
            font-size: 18px;
            text-align: center;
        }

        &-link {
            background: #286783;
            padding: 10px;
            display: inline-block;
            border-radius: 12px;
            color: #fff;
        }
    }
}